<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sspassignment20231108202542.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/91f93add-5852-42bb-8008-03a5871c5c20/resourcegroups/SSPAssignmentResourceG/providers/Microsoft.Web/sites/SSPAssignment20231108202542</ResourceId>
    <UserName>$SSPAssignment20231108202542</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sspassignment20231108202542.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>